* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    place-items: center;
    background-color: rgb(8, 19, 28);
    color: aliceblue;
    font-weight: 700;
    font-family: serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: none;
}


.grid-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-template-rows: repeat(auto-fill, 40px);
    pointer-events: none; 
    z-index: 0;
}

.grid-bg::before {
    content: '';
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-image: radial-gradient(white 1px, transparent 2px);
    background-size: 40px 40px;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    mask: linear-gradient(115deg, transparent 20%, white);
    z-index: -1;

}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(8, 19, 28);
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    top: -140px;
    left: -140px;
    box-shadow: #055 0 0 0px;
}

.tl{
    position: absolute;
    z-index: 999;
    width: 4vw;
    height: 4vw;
    background: rgb(255, 255, 255);
    box-shadow: white 0 0 40px;
    border-radius: 50%;
    top: -3vw;
    left: -3vw;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width:10px;
    height:10px;
    background: rgb(158, 158, 158);
    box-shadow: white 0 0 20px;
    border-radius: 50%;
    transform: rotate(calc(var(--i) * 90deg)) translateX(90px);
    transform-origin: center;
  }

.cursor{
    position: fixed;
    z-index: 1000;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #ffffff3c;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}


nav{
    position: absolute;
    opacity: 1;
    top: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    margin-bottom : 20px;
    width: 70%;
    height: 50px;
    background: rgb(255, 255, 255);
    color: #055;
    border-radius: 25px;
    text-shadow: rgb(34, 158, 137) 0 0 5px;
    box-shadow: rgb(8, 181, 255) 0 0 10px;
}

.logo{
    position: relative;
    width: 40%;
    padding-left: 10%;

}

.drop_contact{
   position: absolute;
   opacity: 0;
   background: white;
   top: 120%;
   width: 17%;
   left: 5%;
   text-align: left;
   padding-left: 3%;
   padding-right: 3%;
   border-radius: 15px;
   line-height: 30px;   
   /* cursor: none; */
}

 .drop_contact i{
   width: 20%;
 }

 .drop_contact span{
   margin-left: 10px;
 }

 .next_page{
  position: absolute;
  bottom: 7%;
  left: 45%;
  background: rgba(245, 245, 245, 0.653);
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(172, 166, 166) 0 0 0px;
 }

 .next_page a{
  font-style: none;
  color: #000000d2;
  text-decoration: none;
  text-shadow: none;
 }

 .next_page h4{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }


.link{
    width: 60%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    text-shadow: rgb(34, 158, 137) 0 0 5px;
    color: #055;
}

.content{
    position: relative;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

.pages{
    position: relative;
    z-index: 5;
    width: 98%;
    height: 100vh;
    margin-left: 1%;
}

 .main_info{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35%;
    right: 15px;
    place-content: center;
    width: fit-content;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: sans-serif;
 }

 #namaste{
    /* padding-right: 20px; */
    text-align: center;
    opacity: 0.6;
 }

 #frontend{
    font-family: serif;
    font-size: 6vw;
    color: yellow;
    text-shadow: rgb(230, 227, 40) 0 0 30px;
 }

 #here{
    color: #fff;
    text-align: center;
    z-index: 8;
    font-size: 1.5vw;
    letter-spacing: 1px;
    opacity: 0.6;
    margin-top: 10px;
    font-style: italic;
    text-transform: capitalize;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .pic_div{
   height: 100%;
   width: 40%;
 }
 .pp{
   overflow: hidden;
   height: 72%;
   border-radius: 50%;
   background: yellow;
   width: 80%;
   box-shadow: yellow 0 0 15px;
   margin-top: 14%;
   margin-left: 10%;
 }
 .pp img{
   height: 105%;
   width: 105%;
   filter: drop-shadow(rgb(51, 48, 10) 0 0 15px);
 }



 .info{
   width: 50%;
   position: absolute;
   right: 0;
   top: 15%;
   height: 80%;
 }

 .first{
   display: flex;
   width: 100%;
   position: absolute;
   height: 55%;
 }

  .education{
   width: 60%;
   height: 100%;
 }

 .name{
   height: 25%;
   align-content: center;
   margin-top: 12.5%;
   margin-left: 5%;

 }

 .name h1{
   font-size: 50px;
   letter-spacing: 1px;
   text-shadow: rgba(255, 255, 255, 0.546) 0 0 8px;
 }

 .bio{
   height: 50%;
   width: 100%;
   text-align: left;
   padding-left: 5%;
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 40px;
   text-shadow: rgba(255, 255, 255, 0.546) 0 0 8px;
 }

 /* .bio span{
  background: #000;
  text-shadow: none;
 } */

 .tagline{
   padding-left: 1%;
 }



 .desc{
   width: 100%;
   height: 45%;
   text-align: justify;
   line-height: 33px;
   font-size: 20px;
   padding: 4%;
   padding-top: 0;
   color: white;
   position: absolute;
   bottom: 0%;
   text-shadow: #d4d4d1 0 0 1px;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .desc mark {
   padding: 1px 5px;
   font-style: italic;
   border-radius: 5px;
   background: none;
   color: #ffe600;
   font-weight: 600;
   /* text-shadow: #ffe600 0 0 2px; */
 }

 .skills{
   width: 20%;
   position: absolute;
   gap: 1.5rem;
   top: 63%;
   left: 25%;
   display: flex;
   flex-wrap: wrap;
 }

.skills img {
  width: 65px;
  height: 65px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0.9) drop-shadow(0 0 5px #055);
  
}

#js{
   border-radius: 10px;
}

.framework{
  border-radius: 10px;
}

#git{
   background: rgb(243, 239, 238);
   padding: 8px;
}


.skills img:hover {
  transform: scale(1.15);
  filter: brightness(1.2) drop-shadow(0 0 10px #055);
}



 .card{
    background-color: aliceblue;
    color: rgb(21, 41, 41);
    border-radius: 15px;
    padding: 15px;
    width: 350px;
    height: 250px;
    box-shadow: white  0 0 10px;
 }

 .bloggify{
    position: absolute;
    top: 30%;
    left: 40%;
 }

 .Python{
    position: absolute;
    top: 50%;
    left: 70%;
 }

 .card_title{
    font-size: larger;
    margin-bottom: 5%;
 }

 .card_title h2 span {
   font-size: large;
   font-family: 'Segoe UI', Tahoma;
 }

 .card_desc{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 6%;
 }

 .stack{
    position: relative;
    display: flex;
    gap: 8px;
 }

 .stack div{
    background: #41915ba4;
    padding: 3px 10px;
    border-radius: 15px;
    color: rgb(12, 64, 64);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .project_links{
  position: absolute;
  bottom: 4%;
  width: 90%;
  display: flex;
 }

 .Python .project_links{
    margin-top: 8%;
  }

 .project_links a{
    background: #055;
    margin-right: 5%;
    padding: 5px 8px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    color: #fff;
    box-shadow: #055 0 0 5px;
    display: inline-block;
    transition: transform 0.3s ease;
    height: 32px;
 }

 .project_links a:hover{
  transform: scale(1.04);
 }
 
 #contact{
    position: absolute;
 }

 .form{
    margin: 0;
    padding: 1.5%;
    padding-top: 0;
    position: absolute;
    top: 20%;
    right: 2%;
    height:60%;
    width: 60%;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: sans-serif;
    z-index: 6;
    border-radius: 15px;
 }

 .form h2{
    text-align: right;
    margin: 2%;
    text-shadow: white 0 0 15px;

 }

 form{
    margin-top: 1%;
    height: 75%;
 }

 .client_info{
    width: 100%;
    display: flex;
    height: 30%;
 }
 .client_name{
    width: 50%;
    height: 100%;
 }
 #client_name{
     padding: 8px;
     height: 50%;
     width: 94%;
     margin-left: 3%;
     margin-top: 5%;
    border: none;
    background: white;
    border-radius: 5px;
    font-weight: 800;
    color: #055;
    text-shadow: rgb(34, 158, 137) 0 0 5px;
    box-shadow: rgb(8, 181, 255) 0 0 10px;
 }
 
   .client_email{
     width: 50%;
     height: 100%;
  }

  #client_email{
      width: 94%;
    background: white;
    border-radius: 5px;
    margin-left: 3%;
    margin-top: 5%;
    height: 50%;
    border: none;
    padding: 8px;
    font-weight: 800;
    color: #055;
    text-shadow: rgb(34, 158, 137) 0 0 5px;
    box-shadow: rgb(8, 181, 255) 0 0 10px;
 }

 .msg{
    height: 70%;
 }

 #msg{
    margin: 1.5%;
    padding: 8px;
    width: 97%;
    height: 90%;
    background: white;
    border-radius: 15px;
    font-size: large;
    font-weight: 700;
    border: none;
    color: #055;
    text-shadow: rgb(34, 158, 137) 0 0 5px;
    box-shadow: rgb(8, 181, 255) 0 0 10px;
 }

 form button{
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    bottom: 0%;
    left: 4%;
    font-weight: 700;
    font-family: serif;
    text-transform: uppercase;
    box-shadow: #055 0 0 10px;
    cursor: pointer;
    font-size: medium;
    background-color: #055;
 }

 form button:hover{
    transform: scale(1.05);
    color: #055;
    background-color: antiquewhite;
    box-shadow: whitesmoke 0 0 10px;
 }

 input:focus,
textarea:focus,
button:focus{
  outline: none;
  border: none;
}

input::placeholder,
textarea::placeholder{
    color: rgba(0, 85, 85, 0.749);
    font-weight: 600;
    text-shadow: none;
}

.footer {
  background: transparent;
  color: #aaa;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: 1px solid #333;
  position: absolute;
  bottom: -10%;
  width: 100%;
  backdrop-filter: blur(5px);
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  z-index: 5;
}

.footer-text span {
  color: rgb(204, 255, 0);
  font-weight: bold;
}

.footer-icons {
  margin-top: 15px;
}

.footer-icons a {
  margin: 0 10px;
  font-size: 24px;
  color: #aaa;
  /* transition: transform 0.3s ease, color 0.3s ease; */
}

.footer-icons a:hover {
  color: #0ff;
  transform: scale(1.2);
}

.footer-note {
  margin-top: 25px;
  font-size: 14px;
  color: #555;
}